<mat-toolbar color="primary">
    <a mat-button routerLink="/" href="/" routerLinkActive="active" *ngIf="isLoggedIn$ | async">Home</a>
    <a mat-button routerLink="/login" href="/login" routerLinkActive="active" *ngIf="(isLoggedIn$ | async) == false">Sign In</a>
    <a  mat-button routerLink="/register" href="/register" routerLinkActive="active" *ngIf="(isLoggedIn$ | async) == false">Register</a>
    
    <!-- This fills the remaining space of the current row -->
    <span class="fill-space"></span>
    <span *ngIf="isLoggedIn$ | async">
            <button mat-icon-button [matMenuTriggerFor]="menu" class="vertical_align image_avatar">
            <img mat-card-avatar class="example-header-image" src="http://localhost:3001/uploads/{{user.profileImage}}"/>
            </button>
            <mat-menu #menu="matMenu">
                <a mat-menu-item href="/user">
                <mat-icon>account_box</mat-icon>
                <span>Account</span>
                </a>
            <button mat-menu-item (click)="onLogout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </button>
            </mat-menu>
    </span>
</mat-toolbar>